.footer {
  background-color: var(--color-footer-background);
  border-block-start: 1px solid var(--color-footer-border);
  color: var(--color-footer-foreground);
  padding: 1rem;
  text-align: center;
}
