.page {
  display: grid;
  flex: 1;
  gap: var(--spacing-md);
}

#main-content {
  background: var(--color-background);
  color: var(--color-foreground);
  padding: var(--spacing-md);
  grid-area: main;
}
