.playground {
  display: flex;
  flex-direction: column;
}

.playground__actions {
  display: flex;
  flex-direction: row-reverse;
}

.playground__run-btn {
  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
}

.playground__textarea {
  border-radius: var(--border-radius-sm) 0 0 0;
}

.playground__output {
  border: 1px solid var(--color-input-border);
  border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
  font-family: monospace;
  min-height: 6rem;
  padding: var(--spacing-xs) var(--spacing-sm);
}

.playground__output.has-error {
  color: var(--color-error);
}
